# Store the JSON data to csv

The goal of this notebook is to test the store data functions.

In [1]:
import os
import pandas as pd

from re_forecast.data.load_data import download_rte_data
from re_forecast.data.format_data import extract_generation_units, extract_generation_values
from re_forecast.data.store_data import create_csv_path_units_names
from re_forecast.data.store_data import store_to_csv
from re_forecast.params import DATA_CSV_ENERGY_PRODUCTION_PATH

## 1/ Store the units names

We want to store the units names for each of the three ressources, by calling the RTE API without any parameters.

In [2]:
# Set all the params to None
start_date = None
end_date = None
eic_code = None
prod_type = None
prod_subtype = None

# We want to iterate over the three ressources
ressources = [1, 2, 3]

for ressource in ressources:
    # Download the RTE data for ressource nb 1
    data = download_rte_data(ressource,
                             start_date,
                             end_date,
                             eic_code,
                             prod_type,
                             prod_subtype)

    # Format the data in order to extract the units names
    format_data = extract_generation_units(data, ressource)

    # Store each units list into csv
    store_to_csv(format_data,
                 DATA_CSV_ENERGY_PRODUCTION_PATH,
                 ressource,
                 start_date,
                 end_date,
                 eic_code,
                 prod_type,
                 prod_subtype,
                 store_units_names = True)

## 2/ Show the units names for all ressources

In [3]:
# Iterate for the three ressources
ressources = [1, 2, 3]

for ressource in ressources:
    try:
        # Construct the csv path
        csv_path = create_csv_path_units_names(DATA_CSV_ENERGY_PRODUCTION_PATH,
                                            ressource)

        # Read units names csv into a df
        units_names = pd.read_csv(csv_path)

        # Display units names for the ressource
        display(units_names)

    except:
        display(f"Units for ressource n°{ressource} contain no lines")
        pass

                    production_type
0                           BIOMASS
1                        FOSSIL_GAS
2                  FOSSIL_HARD_COAL
3                        FOSSIL_OIL
4              HYDRO_PUMPED_STORAGE
5   HYDRO_RUN_OF_RIVER_AND_POUNDAGE
6             HYDRO_WATER_RESERVOIR
7                           NUCLEAR
8                             SOLAR
9                             WASTE
10                    WIND_OFFSHORE
11                     WIND_ONSHORE
12                            TOTAL

,eic_code,name,production_type
0,17W000001023725I,FR_LANDIVISIAUGU,FOSSIL_GAS
1,17W000001418626A,CPCU-CogeVitry–GP,FOSSIL_GAS
2,17W0000014186456,CPCU-StOuen-GP,FOSSIL_GAS
3,17W0000014455651,BANC DE GUERANDE 1,WIND_OFFSHORE
4,17W000001445567Y,BANC DE GUERANDE 2,WIND_OFFSHORE
...,...,...,...
138,17W100P100P0361D,BATHIE 6,HYDRO_WATER_RESERVOIR
139,17W100P100P03655,PROVENCE 4 BIOMASSE,BIOMASS
140,17W100P100P0842Y,A1 DE PARC EOLIEN EN MER DE LA BAIE DE ST-BRIEUC,WIND_OFFSHORE
141,17W100P100P20746,COCHE 5,HYDRO_PUMPED_STORAGE
142,17W100P100P3382R,A2 DE PARC EOLIEN EN MER DE LA BAIE DE ST-BRIEUC,WIND_OFFSHORE

     production_type               production_subtype
0          BIOENERGY                           BIOGAS
1          BIOENERGY                          BIOMASS
2          BIOENERGY                            TOTAL
3          BIOENERGY                            WASTE
4         FOSSIL_GAS                  FOSSIL_GAS_CCGT
5         FOSSIL_GAS                   FOSSIL_GAS_CHP
6         FOSSIL_GAS                    FOSSIL_GAS_CT
7         FOSSIL_GAS                 FOSSIL_GAS_OTHER
8         FOSSIL_GAS                            TOTAL
9   FOSSIL_HARD_COAL                            TOTAL
10        FOSSIL_OIL                   FOSSIL_OIL_CHP
11        FOSSIL_OIL                    FOSSIL_OIL_CT
12        FOSSIL_OIL                 FOSSIL_OIL_OTHER
13        FOSSIL_OIL                            TOTAL
14             HYDRO             HYDRO_PUMPED_STORAGE
15             HYDRO  HYDRO_RUN_OF_RIVER_AND_POUNDAGE
16             HYDRO            HYDRO_WATER_RESERVOIR
17             HYDRO                            TOTAL
18           NUCLEAR                            TOTAL
19           PUMPING                            TOTAL
20             SOLAR                            TOTAL
21              WIND                            TOTAL

## 3/ Store the generation values